.form-group {
  margin: 10px 0;
}



.th-modal {
  background: #2a2a2aae;

  & .modal-dialog {
    align-items: center;
    max-width: 100%;

    & .modal-content {
      width: 700px;
      margin: auto;
    }

    @media (max-width: 800px) {
      & .modal-content {
        width: 90%;
      }
    }
  }
}
